.backBtn {
  max-width: 120px;
  background-color: transparent;
  border: none;
  outline: transparent;
  padding: 8px;
  display: flex;
  align-items: center;
}

.backIcon {
  transition: fill 0.25s ease-in;
}

.additionalList {
  display: flex;
  justify-content: center;
  gap: 12px;
  border-bottom: 1px solid #0000000d;
  margin-bottom: 16px;
}

.itemLink {
  display: block;
  padding: 8px;
  font-weight: 500;
  position: relative;

  transition: color 0.25s ease-in;
}

.itemLink::after {
  content: ' ';
  position: absolute;
  left: 0;
  display: block;
  margin: 0 auto 0 auto;
  width: 0px;
  height: 3px;
  border-radius: 6px;
  background-color: #747bff;

  transition: width 0.25s ease-in;
}

.itemLink.activeLink {
  color: #747bff;
}
.itemLink.activeLink::after {
  width: 100%;
  margin-top: 5px;
}

@media screen and (min-width: 700px) {
  .backBtn:hover .backIcon,
  .backBtn:focus .backIcon {
    fill: #747bff;
  }

  .detailsWrapper {
    display: flex;
    gap: 26px;
    padding: 26px;
  }

  .poster {
    margin: 0;
  }

  .movieInfo {
    max-width: 500px;
  }

  .movieTitle,
  .movieDate {
    text-align: left;
  }

  .itemLink:hover,
  .itemLink:focus {
    color: #747bff;
  }
}
