.actorImg {
  border-radius: 6px 6px 0 0;
  margin-bottom: 4px;
  aspect-ratio: 2 / 3;
}

.actorName {
  text-align: center;
  font-weight: 500;
}

.character {
  color: #2a2a2ab6;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .actorImg {
    margin-bottom: 6px;
  }
}
