@media screen and (max-width: 659px) {
  .navigation {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.navLink {
  display: inline-block;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 500;
  color: #fafafa;
  transition: border-color 0.3s ease-in, background-color 0.3s ease-in,
    color 0.3s ease-in;
}

.navLink.activeLink {
  background-color: #747bff;
  color: #ffffff;
}

.langSelect {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: transparent;
  padding: 8px;
  font-weight: 500;
  color: #fafafa;
  cursor: pointer;
  transition: border-color 0.25s ease-in;
}

.langOption {
  color: #747bff;
}

@media screen and (min-width: 660px) {
  .nav {
    display: flex;
  }
  .navLink {
    color: #747bff;
  }

  .navLink:hover,
  .navLink:focus {
    border-color: #747bff;
  }

  .navLink:not(:last-child) {
    margin-right: 12px;
  }

  .langSelect {
    color: #747bff;
  }
}
