.background {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.wrapper {
  position: relative;
  width: 100%;
  height: auto;
} */

.generateBtn,
.seeMoreLink {
  background-color: transparent;
  border: 1px solid #747bff;
  border-radius: 8px;
  padding: 12px;
  color: #747bff;
  transition: transform 0.25s ease-in;
}

@media screen and (min-width: 700px) {
  .generateBtn:hover,
  .generateBtn:focus,
  .seeMoreLink:hover,
  .seeMoreLink:focus {
    transform: scale(1.02);
  }

  .movieInfo {
    height: 500px;
  }
}
