.textWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundText {
  color: #747bff;
  font-size: 26px;
  font-weight: 300;
}

.navBtnList {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  gap: 12px;
}

.navBtn {
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #f1f1f1;
  padding: 8px 12px;

  transition: border-color 0.25s ease-in, color 0.25s ease-in;
}

.navBtn:disabled {
  color: #cdcdcd;
}

@media screen and (max-width: 767px) {
  .navBtn:not(:disabled) {
    border-color: #747bff;
    color: #747bff;
  }
}

@media screen and (min-width: 768px) {
  .notFoundText {
    font-size: 36px;
  }

  .navBtn:hover,
  .navBtn:focus {
    border-color: #747bff;
    color: #747bff;
  }
}
